target/
samples/
publish/

# Native build artifacts
remux-gui-cs/RemuxGui/native/**/*.dylib
remux-gui-cs/RemuxGui/native/**/*.dll
remux-gui-cs/RemuxGui/native/**/*.so


# Essence files
*.ubv
*.mp4
*.h264
*.hevc
*.av1
*.aac

# General folders
.DS_Store
.idea/
~*
*.swp

# Local-only
*.local

dhat-heap.json

mockup.html